---
sudo: false
language: python
cache:
  directories:
  - $HOME/.cabal
  - $HOME/.ghc
addons:
  apt:
    sources:
    - hvr-ghc
    packages:
    - libgmp3-dev
    - ghc-8.4.3
    - cabal-install-head

install:
- rm -rf $HOME/.cabal
- export PATH=/opt/ghc/$GHCVER/bin:$PATH
- export PATH=$HOME/.cabal/bin:$PATH
- cabal update
- mkdir -p $HOME/.cabal/store/ghc-8.4.3/package.db
- travis_wait 40 cabal new-install idris
- git clone https://github.com/pheymann/specdris
- git clone https://github.com/vmchale/comonad
- git clone https://github.com/idris-hackers/idris-free.git
- cd specdris/
- idris --install specdris.ipkg
- cd ../comonad/
- idris --install comonad.ipkg
- cd ../idris-free
- idris --install idris-free.ipkg

script:
- cd ../
- idris --testpkg test.ipkg
